body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f8fb;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #005f73;
  color: white;
  padding: 15px 20px;
  flex-wrap: wrap;
}

header .left {
  font-size: 1.2rem;
  font-weight: bold;
}

header .right button {
  background-color: #ee9b00;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
header .right button:hover{
  background-color: #ca7f00;
}
main {
  padding: 20px;
  text-align: center;
}
quote-section {
  background: linear-gradient(to right, #d8f3dc, #b7e4c7);
  padding: 30px 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 30px;
  animation: fadeIn 1s ease-in-out;
}
.quote-section h2 {
  font-style: italic;
  font-size: 1.4rem;
  color: #0a9396;
  margin: 20px 0;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.nav-button{
  margin-bottom: 20px;
}
.nav-buttons button {
  margin: 10px;
  padding: 12px 20px;
  border: none;
  background-color: #0a9396;
  color: #f4f8fb;
  font-weight: 500;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.nav-buttons button:hover{
  background-color: #00797b;
}
.content-section {
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.donate-options {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.donate-options button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.donate-options button:hover {
  background-color: #0056b3;
}

.donation-form {
  margin-top: 10px;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
}

.donation-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.donation-form input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}